.navigation-container {
    display: flex;
    outline: saddlebrown solid;
    padding: 1.5rem;
    position: fixed;
    width: 100%;
    top:0;
    background-color: brown;
    justify-content: space-between;
    z-index: 1;
    color:white
}
